.searchForm {
  position: relative;
  margin-bottom: 50px;
}

.searchForm__input {
  width: 500px;
  height: 70px;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  background-color: hsla(0, 0%, 100%, 0.842);
  font-size: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.searchForm__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 560px;

  padding: 10px;
  width: 80px;
  height: 70px;
  border-radius: 0 20px 20px 0;
  background-color: rgb(255, 94, 65);
  font-size: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon {
  font-size: 32px;
}
